<h1>New Card</h1>

<form action="/create_card">
  <div>
    <label for="front">front</label><br />
    <input id="front" name="front" type="text" />
  </div>
  <div>
    <label for="back">back</label><br />
    <input id="back" name="back" type="text" />
  </div>
  <div>
    <label for="deck_id">deck_id</label><br />
    <input id="deck_id" name="deck_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

