<h1>New Card</h1>

<form action="/create_card">
  <div>
    <label for="front">front</label><br />
    <input id="front" name="front" type="text" />
  </div>
  <div>
    <label for="back">back</label><br />
    <input id="back" name="back" type="text" />
  </div>
   
   <select id="deck_id" name="deck_id" >
     <% Deck.all.each do |deck| %>
     <option value="<%= deck.id %>"> <%=deck.name%> </option>
    <% end %>
  </select>
  
  <div>
    <input type="submit">
  </div>
</form>

