
<div id="myCarousel" class="carousel slide">  
  <!-- Carousel items -->  
  <div class="carousel-inner">  
   
    <div class="item">sss…</div>  
    <div class="item">…ddddd</div>  
  </div>  
  <!-- Carousel nav -->  
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
</div> 
- See more at: http://www.w3resource.com/twitter-bootstrap/carousel-tutorial.php#sthash.DOwwM9Vo.dpuf