<h1>New Deck</h1>

<form action="/create_deck">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="subject">subject</label><br />
    <input id="subject" name="subject" type="text" />
  </div>
  <div>
    <label for="course">course</label><br />
    <input id="course" name="course" type="text" />
  </div>
  <div>
    <label for="teacher">teacher</label><br />
    <input id="teacher" name="teacher" type="text" />
  </div>
  <div>
    <label for="student">student</label><br />
    <input id="student" name="student" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

